table {
  width: 100%;
}

.value-cell {
  display: flex;
  align-items: center;
}

mat-icon {
  cursor: pointer;
}

.mat-row:hover {
  background-color: #f0f0f5;
}

td[class*=' mat-column']{
  width: 10vw;
}

.mat-column-id {
  width: 15vw;
}