table {
  width: 90%;
}

.circle {
    background-color: black;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.circle-red {
  background-color: red;
}
.circle-green {
  background-color: green;
}

.value-cell {
  display: flex;
  align-items: center;
}

mat-icon {
  cursor: pointer;
}

.highlight-on-hover:hover {
  background-color: #f0f0f5;
}

td[class*=' mat-column']{
  width: 10vw;
  min-width: 10vw;;
  max-width: 10vw;
}

.mat-cell, .mat-header-cell {
  padding: 10px;
}

.vertical-separator {
  border-left: 1px solid #f0f0f5;
}

td div {
  word-break: break-all;
}